<div class="container-fluid theme-showcase" role="main">

    <div class="jumbotron">
        <h1>Adminstration Page</h1>
        <p></p>
      </div>
    <div class="row animate">
        <div class="col-md-6 .col-lg-6">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr ng-repeat="(key,value) in models">
                       
                        <td class="">
                            <a href="#" class="btn  btn-lg " ng-class="{'btn-info':!slideToggle,'btn-primary':slideToggle}" uib-tooltip="Click to show all {{key}}(s)" ng-click="slideToggle=! slideToggle"><i class="fa " ng-class="{'fa-angle-down':!slideToggle,'fa-angle-up':slideToggle}"></i></a>
                            <a href="#" class="btn btn-success btn-lg" uib-tooltip="Click to add a {{key}}" ui-sref="home.detail"><i class="fa fa-plus"></i></a>
                        </td>
                         <td>{{key | titleCase}}
                             <div class="slide-toggle" ng-show="slideToggle"><h1>Fine.</h1></div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{{models}}
</div>